---
// Импортируем лейаут
import Layout from '../layouts/main.astro';
---

<Layout title="Home">
    <!-- Контент страницы -->
    <h1>Welcome to My Site</h1>
    <p>This is the home page content.</p>
</Layout>