---
import '../styles/global.css';
import NavBar from '../components/NavBar.vue';

const { title } = Astro.props;
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | ЧЕРНЫЕ ОЗЕРА</title>
	</head>
	<body>
        <NavBar client:load />
        <main><slot /></main>

	</body>
</html>
